
	body {
        text-align: center;
        background-color: #f0e8c5;
      }
      div {
        margin-top: 15px;
      }
      .img1 {
        display: flex;
    justify-content: center;
      }
      .img1style {
        margin-right: 25px;
        margin-left: 25px;
          background-color: white;
      }